*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# jdeveloper project files
*.jpr

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore artifacts from a build
target/
dependencies/
deploy/

# ignore anything in the doc _site directory
_site/


