#
# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Using Big Data Glue
description: Deliver data from sources including GoldenGate into Big Data targets.

url: "http://johnneal3.github.io" # the base hostname & protocol for your site
baseurl: "/bdglue2" # the subpath of your site, e.g. /mygithubproject
repository: https://github.com/johnneal3/bdglue2

# Build settings
markdown: kramdown

defaults:
  -
    scope:
      path: "_docs"
      type: "docs"
    values:
      layout: "docs"
  -
    scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"


collections:
  docs:
    permalink: /:collection/:path/
    output: true

